################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EncoderTest/.vscode
/EncoderTest/target
/EncoderTest/src/EncoderTest.cpp
/TempestInATree/lib/neopixel
/TempestInATree/src/TempestInATree.cpp
/TempestInATree/target
/TempestInATree/photon_firmware_*
/UnitTests/.vs
/UnitTests/Debug
/UnitTests/UnitTests.vcxproj.user
/TempestInATree/.vscode
